body, a, h1, h2, h3, h4, h5, h6, p, span {
	font-family: "Gibson";
}

.navbar {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.navbar-default .navbar-nav>li>a>span.typcn {
    font-size: 2.333em;
    line-height: 1em;
}

.navbar-default .navbar-nav>li>a {
    color:#4B516E;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color:#A5A6C4;    
}

.footer-container {
    clear: both;
    width: 100%;
    padding: 1em; 
    margin-top: 1em;
    background-color: rgba(100,100,100,0.1);
}

.margin-right {
	margin-right: 10px;
}

.nav-pills .typcn {
    font-size: 1.8em;
    line-height: 0.76666666666em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: 1px;
    margin-left: -18px;
}
.ui-slider-horizontal .ui-slider-handle {
    background: url("../img/handle.png") no-repeat center center scroll #fff!important;
    background-position: 50% 50%;
    background-size: 16px 16px!important;
    width: 36px;
    height: 18px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #dddddd;
    background: #f6f6f6 url(../img/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #0073ea;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}
.ui-widget-content a {
    color: #444444;
}
.ui-slider-handle {
    border: none!important;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    outline: none!important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 2px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 2px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 2px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 2px;
}