<!-- Navbar fixed bottom -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a class="" href="#/movies"><span class="typcn typcn-backspace"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="container">
  <ol class="breadcrumb">
    <li><a href="#/main"><span class="typcn typcn-home-outline"></span></a></li>
    <li><a href="#/movies">Películas</a></li>
    <li class="active">{{movie.title}} (editando)</li>
  </ol>
  <h1 class="page-header"><span class="typcn typcn-edit"></span> {{movie.title}}</h1>
  <div class="col-md-12 row">
    <form class="form" ng-submit="submit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        <input type="text" class="form-control" ng-model="movie.title">
      </div>

      <label>Categoría</label>
      <div class="form-group">
        <label class="checkbox-inline" ng-repeat="genre in genres">
          <input type="checkbox" name="genre.name" ng-model="genre.value"> {{genre.name}}
        </label>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Released</label>
        <input type="date" class="form-control" ng-model="movie.release">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">País</label>
        <input type="text" class="form-control" ng-model="movie.country">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Director</label>
        <input type="text" class="form-control" ng-model="movie.director">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Poster</label>
        <input type="text" class="form-control" ng-model="movie.poster">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Youtube</label>
        <input type="text" class="form-control" ng-model="movie.youtube">
      </div>
      <div class="form-group">
        <div ng-controller="RangeCtrl">
          <label for="slider-rated">Calificación</label>
          <input type="number" class="form-control" min="0" id="slider-rated" ng-model="qty.rated" />
          <input type="range" min="0" max="10" ng-model="qty.qty" />
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        <textarea class="form-control" rows="4" cols="70" ng-model="movie.plot"></textarea>
      </div>
      <div class="well"><input type="submit" class="btn btn-success" value="Actualizar"> 
      <input type="reset" class="btn btn-warning" value="Limpiar"></div></input>
    </form>
  </div>
</section>