<!-- Navbar fixed bottom -->
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"></a>
		</div>
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li><a href="#/movies"><span class="typcn typcn-backspace"></span></a></li>
				<li><a href="#/movie/edit/{{movie.id}}" title="Actualizar Película"><span class="typcn typcn-edit"></span></a></li>
			</ul>
		</div>
	</div>
</nav>
<section class="container">
	<ol class="breadcrumb">
	  <li><a href="#/main"><span class="typcn typcn-home-outline"></span></a></li>
	  <li><a href="#/movies">Películas</a></li>
	  <li class="active">{{movie.title}}</li>
	</ol>

	<h1 class="page-header">{{movie.title}}</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="progress active">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{movie.rated}}0%;">
			    <span class="sr-only">{{movie.rated}}</span>{{movie.rated}}/10
			  </div>
			</div>
			<div class="text-center">
				<img class="img-responsive center-block" ng-src="{{movie.poster}}">
			</div>
			<div class="clearfix"></div>
			<div class="group-control">&nbsp;</div>
		</div>
		<div class="col-md-8">
			<label>Resumen</label>
			<p>{{movie.plot}}</p>
			<label>Categoría</label>
			<p><span ng-repeat="genre in movie.genre">{{genre.name}} </span></p>
			<label>Director</label>
			<p>{{movie.director}}</p>
			<label>Fecha</label>
			<p>{{ movie.release | date : 'dd/MM/yyyy' : timezone}}</p>
			<!--iframe class="trailer" src="https://www.youtube.com/embed/{{movie.youtube}}" frameborder="0" allowfullscreen></iframe-->	
		</div>
	</div>
	<div class="clearfix"></div>
</section>