<!-- Navbar fixed bottom -->
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"></a>
		</div>
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li><a href="#/" title="Atrás"><span class="typcn typcn-backspace"></span></a></li>
				<li class="active"><a href="" ng-click="sendEndpoint( '/movies' )" title="Todas"><span class="typcn typcn-sort-alphabetically-outline"></span></a></li>
				<li><a href="" ng-click="sendEndpoint( '/movies/order/rated/-' )" title="Mejor Calificación"><span class="typcn typcn-thumbs-up"></span></a></li>
				<li><a href="" ng-click="sendEndpoint( '/movies/order/release/-' )" title="Mas Recientes"><span class="typcn typcn-calendar"></span></a></li>
				<li><a href="#/movie/add"><span class="typcn typcn-attachment-outline" title="Nueva Película"></span></a></li>
			</ul>
		</div>
	</div>
</nav>
<section class="container">
	<ol class="breadcrumb">
	  <li><a href="#/main"><span class="typcn typcn-home-outline"></span></a></li>
	  <li class="active">Películas</li>
	</ol>
	<div class="row">
		<div class="col-md-6 col-xs-6">
			<input class="form-control" type="text" ng-model="search" placeholder="Write Title/Director/Actor" ng-model="search.name">
		</div>
		<div class="col-md-6 col-xs-6">
			<form class="form-control" id="genreFilter">
		        <select name="type" ng-click="searchByGenre()">
			        <option value="">Choose a Genre</option>
			        <option value="Crime">Crime</option>
			        <option value="Action">Action</option>
			        <option value="Drama">Drama</option>
			        <option value="Adventure">Adventure</option>
			        <option value="Comedy">Comedy</option>
			        <option value="Mystery">Mystery</option>
			        <option value="Sci-Fi">Sci-Fi</option>
			        <option value="Horror">Horror</option>
		        </select>
			</form>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="group-control">&nbsp;</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="movie in movies | filter: search">
			<div class="well">
				<div class="media">
				  <div class="media-heading">
				    <a href="#/movie/{{movie.id}}">
				      <img class="img-responsive" ng-src="{{movie.poster}}">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">
				    	<a href="#/movie/{{movie.id}}">{{movie.title}}</a>
				    </h4>
				    <h6>Fecha de lanzamiento: {{ movie.release | date : 'dd/MM/yyyy' : timezone}}</h6>
				    <h6>Director: {{movie.director}}</h6>
				    <h6>Calificación: {{movie.rated}}</h6>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>