<section class="container">
	<ol class="breadcrumb">
	  <li><a href="#/"><span class="typcn typcn-home-outline"></span></a></li>
	  <li class="active">Copyleft</li>
	</ol>
	<section class="col-md-12">
		<h1 class="page-header">Copyleft</h1>
		<p>This project is for educative purpose only.</p>
		<div class="clearfix"></div>
		<div class="group-control">&nbsp;</div>
		</div>
		<div class="clearfix"></div>
		<div class="group-control">&nbsp;</div>
	 	<div class="texto">
			  <p>
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
			  </p>
	 	</div>
	</section>
</section>