<section class="container">
	<ol class="breadcrumb">
	  <li><a href="#/"><span class="typcn typcn-home-outline"></span></a></li>
	  <li class="active">Créditos</li>
	</ol>
	<section class="col-md-12">
		<h1 class="page-header">Créditos</h1>
		<p>Este proyecto es propiedad colectiva que ofrece Devmeta para ser compartido solo con fines educativos.</p>
		<div class="clearfix"></div>
		<div class="group-control">&nbsp;</div>
		<div class="col-lg-12 row">
			<h3>Node + Mongod REST Server</h3>
			<table class="table table-striped">
				<tr>
					<td>Tamaño del proyecto</td>
					<td>1.6MB</td>
				</tr>
				<tr>
					<td>Descarga</td>
					<td><a target="_blank" href="http://bitbucket.org/MartinFrith/nodemoviesrest/downloads"><span class="typcn typcn-download-outline"></span></a></td>
				</tr>
			</table>
			<h3>Node + Angular Front</h3>
			<table class="table table-striped">
				<tr>
					<td>Tamaño del proyecto</td>
					<td>3.7MB</td>
				</tr>
				<tr>
					<td>Descargas</td>
					<td><a target="_blank" href="http://bitbucket.org/MartinFrith/angularmoviesfront/downloads"><span class="typcn typcn-download-outline"></span></a></td>
				</tr>
			</table>
		</div>
		<div class="clearfix"></div>
		<div class="group-control">&nbsp;</div>
	 	<div class="texto">
			  <p>
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
			  </p>
	 	</div>
	</section>
</section>