<section class="container">
	<h1 class="page-header">Node + Angular Movies Showcase</h1>
	<p>This project is for educative purpose only.</p>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="movie in movies">
			<div class="well">
				<div class="media">
				  <div class="media-heading">
				    <a href="#/movie/{{movie.id}}">
				      <img class="img-responsive" ng-src="{{movie.poster}}">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">
				    	<a href="#/movie/{{movie.id}}">{{movie.title}}</a>
				    </h4>
				    <h6>{{movie.year}}</h6>
				    <p>{{movie.director}}</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>